<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png"/>

<title>Lista de super</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listasuper.css') }}">
</head>
<body>





  <img src="static/logo.png" alt="Logo">

<ul>
      <br>
         {% for mensaje in get_flashed_messages() %}
    {{ mensaje }}
  {% endfor %}<br>
    <form action="/super" method="post">
    <p><input type="text" name="content" placeholder="Producto"> <input type="text" name="cantidad" placeholder="Cantidad"></p>
    <p><input type="text" name="precio" placeholder="Precio"></p>
    <input type="submit" value="Agregar">

</form>

{% for super in supers %}

    <li class="respuesta">
        <hr/>
        Producto: {% if super.listo %} <strike> {% endif %}{{ super.content }} {% if super.listo %} </strike>{% endif %}
<td>({{ super.cantidad }})</td>
        <br>
      <td>Precio: {{ super.precio }}</td>
        <br>
        <a href="/listo/{{ super.id }}"> <img src="https://cdn2.iconfinder.com/data/icons/peppyicons/512/Checked-512.png" height="45" width="45"> </a>
        <a href="/delete/{{ super.id }}"> <img src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/128/Close-icon.png" height="45" width="45" > </a>
    </li>
{% endfor %}
</ul>





</body>
</html>